*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 20px;
  height: 100vh;
  background: linear-gradient(135deg,rgb(21, 21, 87),rgba(24, 9, 69, 0.947),rgb(6, 16, 136));
}
header{
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container {
  padding: 5px;
  margin-top: 10px;
  border-radius: 50%;
  background: linear-gradient(225deg,rgb(29, 43, 204),rgb(2, 5, 35),rgb(64, 11, 88),rgb(0, 21, 255) ); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}
h1{
  font-family:"Pirata One", system-ui;
  font-weight: 500;
  padding: 5px;
  font-size: 60px;
  color: blueviolet;
}
.p1{
  color:rgb(82, 94, 227);
  font-weight: 900;
  font-size: 32px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid rgb(175, 3, 255);
}
.b{
  padding: 2px;
  font: 1em sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.s1,.s2,.s3,.s4{
  color: #fff;
  padding: 1px;
  border-radius: 2px;
}
.s1{
  background: linear-gradient(135deg,red,green,blue);
}.s2{
  background-color: rgb(131, 81, 0);
}.s3{
  background-color: rgb(55, 104, 6);
}.s4{
  background-color: rgb(40, 124, 123);
}
.s1h:hover,.s2h:hover,.s3h:hover,.s4h:hover{
  padding: 2px;
  border-radius: 2px;
  color: #fff;
}
.s1h:hover{
  background: linear-gradient(135deg,red,green,blue);
}
.s2h:hover{
  background-color: rgb(131, 81, 0);
}
.s3h:hover{
  background-color: rgb(55, 104, 6);
}
.s4h:hover{
  background-color: rgb(40, 124, 123);
}
main{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
table *{
  padding: 15px;
}
.about{
  padding: 10px;
  margin-top: 20px;
  border: 2px solid rgb(49, 159, 255);
}
.list{
  list-style: none;
}
.list li{
  position: relative;
  padding-left: 1rem;
}
.list li::before{
  content: '#';
  left: 0;
  font-weight: 900;
  font-size: 1.2rem;
  position: absolute;
}
dd{
  margin: 3px;
  margin-left: 30px;
}













